html,
body,
header,
#intro {
    height: 100%;
}
#intro {
    background: url("/home/satyajit/Desktop/Desktop/My_New_web_Project/Learning/img/imgs/radha-madhaba.jpg")no-repeat center center fixed;
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
}